

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Space+Mono&display=swap');
/*font-family: 'Architects Daughter', cursive;
font-family: 'Space Mono', monospace;*/
/*TODO Change fonts*/

body {
}

header {
    background-color: darkgoldenrod;
}
/*change this to a good color*/

main {
    background-color: lightslategrey;
}
/*TODO change this to a good color*/

h2 {
    color: cyan;
    font-size: 24px;
}
/*TODO change this to a good color*/


.headingStyle {
    font-weight: bold;
    text-decoration: underline;
}   

header h1 {
    color: darkblue;
}

footer {
    font-style: italic;
}

h1, h2 {
    text-align: center;
}
body {
    color:lightcyan;
}
/*TODO change*/
/*#region Header*/
#headerOverlay {
    background-image: url('../images/D20.jpg');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
}

header h2, header p {
    margin: 7px 0px 1px 150px;
}

header h2 {
    text-align: left;
    letter-spacing: 0.1em;
    color: #95f3fa;
}

header {
    border-radius: 5px;
}
/*#endregion*/

/*#region Home*/
.aboutUs h3 {
    text-decoration:underline;
    margin:0;
    font-size:30px;
}
.aboutUs p {
    font-size:20px;
    
}
.chooseUs h3{
    text-align:center;
    font-size:50px;
    margin-bottom:0;
}
#chooseLeftPhoto {
    float:left;
    margin-right:10px;
    width:50%;
    height:50%;
    display:block;
}
    #chooseLeftPhoto:after {
        
        display: block;
        clear: both;
    }
#chooseRightPhoto {
    float: right;
    margin-left: 10px;
    width: 50%;
    height: 50%;
}
}#chooseRightPhoto:after{
    content:"";
    display:block;
    clear:both;
}
#chooseUsRow1 p{
    max-width: 45%;
    text-align:center;
    margin-left: 50%;
}
#chooseUsRow1 {
    display:inline-block;
}
#chooseUsRow2 {
    display:inline-block;    
}
/*#chooseUsRow2 p {
    max-width: 45%;
    text-align: center;
    margin-left: 50%;
    margin-top:0;
}*/
/*#endregion*/
/*#region wrapper*/
.wrapper{      
    margin: 0;
    padding: 20px;    
}
.wrapper:after{
    content:"";
    display:block;
    clear:both;
}
 #aboutUsPhoto{
    float:left;
    margin-right:10px;

}

/*#endregion*/

/*#region block links*/
/*
ul.blocklist {
    background-color: teal;
    padding: 0;

    ul.blocklist li {
        list-stlye-type: none;
        list-style-image: none;
    }
    ul.blocklist a {
        text-align: center;
        padding: .5em;
        display: block;
    }
    ul.blocklist a:hover {
        background-color: darkblue;
        color: lightblue;
    }
*/
/*#endregion*/
/*#region links*/
/*a {
    color: teal;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: lightblue;
    text-decoration: underline;
    background-color: darkblue;
}*/
/*#endregion */
/*#region navbar*/
nav a {
    font-weight: bold;
    color: mediumpurple;
}

nav a:hover, nav a:active; nav a::after focus {
    text-decoration: none;
}

nav ul{
    font-size: 0px;
    padding: 5px;
    border: 2px solid darkgrey;
}

nav li:hover {
    background-color: darkblue;
}

nav ul li {
    font-size: 18px;
    display: inline-flex;
}

nav ul li a {
    padding: .4em 1em;
    display: block;
}

/*#endregion*/

/*#region Contact*/
.contactStyle a{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: inline;
    text-decoration: none;
    padding: 2px;
    
}

.contactStyle div {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: inline;
    text-decoration: none;
    padding: 2px;
}

.contactStyle {
    margin-top: 50px;
    text-align-last:center;
}
.backgroundStyle {
    padding-bottom: 25px;
}
.contactHeader {
    font-size: 50px;
    padding-top: 25px;
    margin-bottom: 20px;
    margin-top: auto;
}
/*#endregion*/
/*#region social Icons*/

.socialIcons{
    float:right;
    list-style:none;
    display:inline-flex;
    color:darkblue;
}

footer .socialIcons {
    margin-right: 35px;
}

.fab{
    padding-right: 5px;
    font-size: 50px;
}


/*#endregion*/

/*#region Classes*/
#classesPage{
    text-align:center;
}
    #classesPage h3{
        margin-top:0;
        font-size: 30px;

    }
.imageGallery {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 250px;
    
}
    div.galleryItem img {
    width: 235px;
    height: 180px;
    }

/*#endregion*/

/*#region Teams*/
#columnLeft {
    width:73%;
    border-right: 1px solid lightgray;
}

#columnRight {
    float: right;
    width: 25%;
    position: sticky;
    top:0;
}

    #columnRight li {
        list-style: none;
        
    }

.profiles img{
    height: 150px;
    width: 150px;
    float:left;    
}

.profilesRow{
    display:inline-block;
}
/*#endregion*/






